body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #bababa;
    font: 600 1.6vw/1.8vh 'Open Sans', sans-serif; 
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap {
    width: 30vw;
    min-height: 80vh;
    position: relative;
    background: url('../images/login.jpeg') no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:70px 70px 20px 70px;
	background:rgba(104, 104, 104, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:20px;
	margin-right:15px;
	padding-bottom:10px;
	margin:0 20px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#000000;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
    margin-top:20px;
	margin-bottom:18px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
    margin-top: 3px; 
	border:none;
	padding:9px 20px;
	border-radius:20px;
	background:rgba(237, 225, 225, 0.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:10px;
}
.login-form .group .button{
	background:#7d8eab;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(104, 22, 22, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#7d8eab;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:50px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.login-form .group label[for="check"] {
    font-size: 18px; 
}


@media (max-width: 1000px) {
	body {
		font-size: 48px;
	}

    .login-wrap {
		background-size: cover;
        width: 100%; /* 宽度为100%，使其填满屏幕 */
        min-height: 100vh; /* 最小高度为100%的视窗高度 */
        box-shadow: none; /* 移动设备上可能不需要阴影 */
    }

    .login-html {
        padding: 50px; /* 减少内边距 */
        background: rgba(104,	 104, 104, 0.9); /* 适当调整背景透明度 */
    }

    .login-form .group {
        margin-top: 100px; /* 调整组间距 */
    }

    .login-form .group .label{
		margin-bottom: 20px; 
		font-size: 35px;
	}

    .login-form .group .input,
    .login-form .group .button {
		font-size: 40px;
    }

    .login-form .group .input,
    .login-form .group .button {
        font-size: 40px; /* 增加字体大小以提高可读性 */
    }

    .login-html .tab {
        font-size: 50px; /* 增大标签字体大小 */
        padding-bottom: 45px; /* 調整標籤下方的內邊距 */
    }

	.login-form .group .check,
    .login-form .group label .icon {
        width: 45px; /* 设置一个更大的固定宽度 */
        height: 50px; /* 设置一个更大的固定高度 */
        cursor: pointer; /* 提高可点击性的视觉反馈 */
	    margin-right: 2vw;
    }

	.login-form .group .check:checked + label .icon:before{
		top: 55%;
    	left: 10%;
		width: 40%;
		transform:scale(1) rotate(50deg);
	}
	.login-form .group .check:checked + label .icon:after{
		top: 42%;
    	left: 30%;
		width: 70%;
		transform:scale(1) rotate(-50deg);
	}

    /* 调整标签的字体大小，使其与复选框相匹配 */
    .login-form .group label {
        font-size: 20px; /* 或根据屏幕大小适当增加 */
    }

    /* 确保复选框旁边的文字也相应地变大 */
    .login-form .group label[for="check"] {
        font-size: 50px; /* 增加字体大小以提高可读性 */
        display: flex; /* 使用flex布局保持标签内元素的对齐 */
        align-items: center; /* 垂直居中 */
    }

	body, html {
        height: auto;
        min-height: 100vh;
        overflow: visible;
    }

    .login-wrap, .login-html {
        height: auto;
        min-height: 100vh;
    }
}